
.change-city{
    color: #666;
}
.change-city:hover{
    color: #31BBAC;
}
.position{
    color: #999;
}
.position:hover{
    color: #31BBAC;
}
#sign-in{
    color: #31BBAC;
}
.sign-up{
    color: #999;
}
.sign-up:hover{
    color: #31BBAC;
}