.product-list{
    margin: auto;
    margin-bottom: 40px;
    width: 1190px;

    .crumb-nav{
        margin: 30px auto;
        width: 1190px;
    }

    .product-category{
        border: 1px solid red;
    }
    
}